---
import MainLayout from "@layouts/GameLayout.astro";
import MbtiGame from "@components/games/guess-mbti/MbtiGame";

import { games } from "@data/games";

const game = games.find((g) => g.url === "/games/guess-mbti");
---

<MainLayout title={game?.title || "Juego de MBTI"} }>
  <div
    class="fixed inset-0 bg-cover bg-center transition-transform duration-100 ease-out -z-10 opacity-30"
    style={`background-image: url('${game?.backgroundImage}');`}
    transition:name=`background ${game?.id}`
  >
  </div>

  <div class="h-full flex flex-col items-center justify-center m-auto">
    <div class="mb-10">
      <h1
        class="text-5xl font-extrabold text-transparent bg-clip-text bg-linear-to-r from-accent to-accent2 mb-2"
        transition:name=`gameTitle ${game?.id}`
      >
        {game?.title}
      </h1>
    </div>

    <MbtiGame client:load />
  </div>
</MainLayout>
