* {
    margin: 0;
    padding: 0;
}

html {
    --primary-color: black;
    --secondary-color: gray;
    --text-color: white;
    --hover-color: blue;
}
body {
    margin: 0;
    background-color: #000;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-container {
    perspective: 800px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.menu-panel {
    background: rgba(0, 0, 0, 0.6);
    background-size: contain;
    color: #ccc;
    padding: 30px 40px;
    width: 60vw;
    height: 60vh;
    transform-origin: right center;
    transform: rotate3d(0, 1, 0, 14deg);
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-option {
    width: 200px;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 10px;
    margin: 5px 30px;
    letter-spacing: 1px;
    color: #ccc;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 2;
}

.menu-option.active {
    color: #ffff88;
    border: 1px solid #ffff88;
}

.menu-option:hover {
    color: #fff;
    background-color: #FFFFFF50;
}

.button {
    text-decoration: none;
    color: white;
}