---
console.log("Header component loaded");
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-4 lg:px-6">
  <h1
    class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
  >
    Fabri Games
  </h1>
  <a href="/games/character-by-image/" class="text-blue-500 hover:text-blue-700"
    >Personaje por imagen</a
  >
  <a href="/games/guess-mbti/" class="text-blue-500 hover:text-blue-700"
    >MBTI Personajes</a
  >
</header>
