<header
  class="w-full py-8 px-4 mx-auto max-w-xl lg:py-4 lg:px-6 z-50 relative items-center sm:flex-row sm:justify-between"
  transition:persist
>
  <h1
    class="text-4xl md:text-2xl font-extrabold text-transparent bg-clip-text bg-linear-to-r from-primary to-secondary"
  >
    FabriGames
  </h1>
  <nav class="flex gap-4 mt-4 sm:mt-0">
    <a href="/games/character-by-image/" class="text-accent hover:text-accent2"
      >Personaje por imagen</a
    >
    <a href="/games/guess-mbti/" class="text-accent hover:text-accent2"
      >MBTI Personajes</a
    >
  </nav>
</header>
